#button_container .button:hover {
    border: 1px solid #99D;
    opacity: 1;
    color: white;

    animation-iteration-count: initial;
    animation-name: morph;
    animation-duration: 1s;
}

#fakeFileupload {
    display: none;
    cursor: pointer;
    position: absolute;

    font-size: 11px;
    text-align: center;
    opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    z-index: 9999;
}

#button_container .button {
    cursor: pointer;
    overflow: hidden;
    position: relative;
    color: White;
    font-weight: bolder;
    width: 300px !important;
    height: 85px;
    margin: 0 auto;
    margin-top: 20px;
    outline: none;
    text-align: center;
    text-decoration: none;
    font: 25px/100% Arial, Helvetica, sans-serif;
    padding: 5px 10px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .6);
    border: 1px solid #AAC;

    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;

    /*-webkit-box-shadow: 0px 1px 10px 0px #555;*/
    box-shadow: 0px 1px 7px 0px #999;

    background: #e0fcff; /* Old browsers */
    background: -moz-linear-gradient(top, #e0fcff 0%, #74c2e1 49%, #0191c8 49%, #017099 100%, #0191c8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e0fcff), color-stop(49%, #74c2e1), color-stop(49%, #0191c8), color-stop(100%, #017099), color-stop(100%, #0191c8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e0fcff 0%, #74c2e1 49%, #0191c8 49%, #017099 100%, #0191c8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e0fcff 0%, #74c2e1 49%, #0191c8 49%, #017099 100%, #0191c8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e0fcff 0%, #74c2e1 49%, #0191c8 49%, #017099 100%, #0191c8 100%); /* IE10+ */
    background: linear-gradient(to bottom, #e0fcff 0%, #74c2e1 49%, #0191c8 49%, #017099 100%, #0191c8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e0fcff', endColorstr='#0191c8', GradientType=0); /* IE6-9 */

}

#button_container .button p {
    width: 100%;
    display: inline-block;
}

.button span {
    width: 100%;
    text-align: center;
    position: absolute;
    color: #9CF;
    bottom: 15px;
    font-size: 10px;
    line-height: 10px;
    left: 0;
    right: 0;
}

#cookie {
    z-index: 9999999;
}

.button.deny {
    justify-content: flex-end;
}

#button_container {
    margin-bottom: 20px;
    display: block;
}
